<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Temperature</key>
	<array>
		<string>16℃</string>
		<string>17℃</string>
		<string>18℃</string>
		<string>19℃</string>
		<string>20℃</string>
		<string>21℃</string>
		<string>22℃</string>
		<string>23℃</string>
		<string>24℃</string>
		<string>25℃</string>
		<string>26℃</string>
		<string>27℃</string>
		<string>28℃</string>
		<string>29℃</string>
		<string>30℃</string>
	</array>
	<key>WindSpeed</key>
	<array>
		<string>自动风速</string>
		<string>高风速</string>
		<string>中风速</string>
		<string>低风速</string>
	</array>
	<key>APStatus</key>
	<array>
		<string>净化器开启</string>
		<string>净化器关闭</string>
	</array>
	<key>AirModel</key>
	<array>
		<string>手动控制</string>
		<string>舒适模式</string>
		<string>节能模式</string>
		<string>无模式</string>
		<string>恒温恒净模式</string>
		<string>睡眠模式</string>
	</array>
	<key>OperationCode</key>
	<dict>
		<key>智能模式</key>
		<string>30e0M1</string>
		<key>制冷模式</key>
		<string>30e0M2</string>
		<key>制热模式</key>
		<string>30e0M3</string>
		<key>送风模式</key>
		<string>30e0M4</string>
		<key>除湿模式</key>
		<string>30e0M5</string>
		<key>高风速</key>
		<string>30e0W2</string>
		<key>中风速</key>
		<string>30e0W3</string>
		<key>低风速</key>
		<string>30e0W4</string>
		<key>自动风速</key>
		<string>30e0W6</string>
		<key>30e0M1</key>
		<string>智能模式</string>
		<key>30e0M2</key>
		<string>制冷模式</string>
		<key>30e0M3</key>
		<string>制热模式</string>
		<key>30e0M4</key>
		<string>送风模式</string>
		<key>30e0M5</key>
		<string>除湿模式</string>
		<key>30e0W2</key>
		<string>高风速</string>
		<key>30e0W3</key>
		<string>中风速</string>
		<key>30e0W4</key>
		<string>低风速</string>
		<key>30e0W6</key>
		<string>自动风速</string>
	</dict>
	<key>AcModel</key>
	<array>
		<string>制冷模式</string>
		<string>制热模式</string>
	</array>
	<key>HealthyState</key>
	<array>
		<string>健康功能开启</string>
		<string>健康功能关闭</string>
	</array>
</dict>
</plist>
