<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>50w000</key>
	<string>报警解除</string>
	<key>50w001</key>
	<string>空气盒子检测到温度传感器故障,请联系客服</string>
	<key>50w002</key>
	<string>空气盒子检测到湿度传感器故障,请联系客服</string>
	<key>50w004</key>
	<string>空气盒子检测到VOC传感器故障,请联系客服</string>
	<key>50w007</key>
	<string>空气盒子检测到PM2.5传感器故障,请联系客服</string>
	<key>50w00a</key>
	<string>空气盒子检测到温度超标(大于等于50℃)</string>
	<key>50w00b</key>
	<string>空气盒子检测到湿度超标(大于95%)</string>
	<key>50w00c</key>
	<string>空气盒子检测到甲醛超标(大于100ug/m3),请保持通风或打开净化器</string>
	<key>50w00d</key>
	<string>空气盒子检测到空气质量较差,请保持通风或打开净化器</string>
	<key>50w00g</key>
	<string>空气盒子检测到PM2.5超标,请保持通风或打开净化器</string>
</dict>
</plist>
