<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>50w000</key>
	<string>报警解除</string>
	<key>50w001</key>
	<string>温度传感器故障</string>
	<key>50w002</key>
	<string>湿度传感器故障</string>
	<key>50w004</key>
	<string>VOC传感器故障</string>
	<key>50w007</key>
	<string>PM2.5传感器故障</string>
	<key>50w00a</key>
	<string>温度超标(大于等于50℃)</string>
	<key>50w00b</key>
	<string>湿度超标(大于95%)</string>
	<key>50w00c</key>
	<string>甲醛超标(大于100ug/m3)</string>
	<key>50w00d</key>
	<string>VOC超标</string>
	<key>50w00g</key>
	<string>PM2.5超标</string>
</dict>
</plist>
