<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>50w000</key>
	<string>Alarm dismissed</string>
	<key>50w001</key>
	<string>Temperature sensor Malfunctioning</string>
	<key>50w002</key>
	<string>Humidity sensor Malfunctioning</string>
	<key>50w004</key>
	<string>VOC sensor Malfunctioning</string>
	<key>50w007</key>
	<string>PM2.5 sensor Malfunctioning</string>
	<key>50w00a</key>
	<string>Temperature Alert(warmer than 50℃)</string>
	<key>50w00b</key>
	<string>Humidity Alert(over 95%)</string>
	<key>50w00c</key>
	<string>Formaldehyde Alert(over 100ug/m3)</string>
	<key>50w00d</key>
	<string>VOC Alert</string>
	<key>50w00g</key>
	<string>PM2.5 has reached a hazardous level.</string>
</dict>
</plist>
