<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00010</key>
	<string>网络异常</string>
	<key>00011</key>
	<string>网络超时</string>
	<key>03002</key>
	<string>设备不在线</string>
	<key>10108</key>
	<string>红外学习码头信息错误</string>
	<key>10109</key>
	<string>红外学习码长度错误</string>
	<key>10120</key>
	<string>红外学习码数据错误</string>
	<key>20002</key>
	<string>接口操作失败</string>
	<key>20201</key>
	<string>获取用户绑定的设备列表失败</string>
	<key>20202</key>
	<string>当前用户未绑定该设备</string>
	<key>20301</key>
	<string>设备信息查询失败</string>
	<key>21001</key>
	<string>登录失败</string>
	<key>21002</key>
	<string>登录失败</string>
	<key>21014</key>
	<string>重复退出错误</string>
	<key>21019</key>
	<string>token过期错误</string>
	<key>22101</key>
	<string>帐号不存在</string>
	<key>22102</key>
	<string>密码错误</string>
	<key>22111</key>
	<string>用户为未激活状态</string>
	<key>22112</key>
	<string>用户手机号码为空</string>
	<key>22113</key>
	<string>用户邮箱为空</string>
	<key>22117</key>
	<string>邮箱格式不正确</string>
	<key>22118</key>
	<string>用户已存在</string>
	<key>22119</key>
	<string>手机号码不正确</string>
	<key>22120</key>
	<string>邮箱地址不正确</string>
	<key>10101</key>
	<string>系统错误</string>
	<key>10102</key>
	<string>参数输入不全</string>
	<key>10103</key>
	<string>参数格式错误</string>
	<key>10104</key>
	<string>参数无效</string>
	<key>10107</key>
	<string>同类型设备已经绑定过</string>
	<key>10105</key>
	<string>注册帐号格式错误</string>
	<key>10106</key>
	<string>资源不存在</string>
	<key>22105</key>
	<string>此手机号已注册，请直接登录</string>
	<key>22100</key>
	<string>此手机号码已在海尔官网注册，请直接登录</string>
	<key>22109</key>
	<string>帐号或密码错误</string>
	<key>22106</key>
	<string>帐号已存在</string>
	<key>22103</key>
	<string>旧密码不匹配</string>
	<key>22805</key>
	<string>注册码已过期</string>
	<key>22820</key>
	<string>用户名密码错</string>
	<key>22824</key>
	<string>激活码正确，但已失效</string>
</dict>
</plist>
