<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>晴</key>
	<array>
		<string>weather_icon_qing</string>
		<string>weather_icon_yueliang</string>
	</array>
	<key>多云</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>阴</key>
	<string>weather_icon_yin</string>
	<key>阵雨</key>
	<string>weather_icon_zhenyu</string>
	<key>雷阵雨</key>
	<string>weather_icon_leizhenyu</string>
	<key>雷阵雨伴有冰雹</key>
	<string>weather_icon_leizhenyubanyoubingbao</string>
	<key>冰雹</key>
	<string>weather_icon_bingbao</string>
	<key>雨夹雪</key>
	<string>weather_icon_yujiaxue</string>
	<key>小雨</key>
	<string>weather_icon_xiaoyu</string>
	<key>小到中雨</key>
	<string>weather_icon_xiaoyu</string>
	<key>中雨</key>
	<string>weather_icon_zhongyu</string>
	<key>大雨</key>
	<string>weather_icon_zhongyu</string>
	<key>中到大雨</key>
	<string>weather_icon_zhongyu</string>
	<key>暴雨</key>
	<string>weather_icon_baoyu</string>
	<key>大到暴雨</key>
	<string>weather_icon_baoyu</string>
	<key>暴雨到大暴雨</key>
	<string>weather_icon_baoyu</string>
	<key>大暴雨</key>
	<string>weather_icon_dabaoyu</string>
	<key>特大暴雨</key>
	<string>weather_icon_dabaoyu</string>
	<key>大暴雨到特大暴雨</key>
	<string>weather_icon_dabaoyu</string>
	<key>阵雪</key>
	<string>weather_icon_xue</string>
	<key>小雪</key>
	<string>weather_icon_xue</string>
	<key>中雪</key>
	<string>weather_icon_xue</string>
	<key>大雪</key>
	<string>weather_icon_xue</string>
	<key>暴雪</key>
	<string>weather_icon_xue</string>
	<key>小到中雪</key>
	<string>weather_icon_xue</string>
	<key>中到大雪</key>
	<string>weather_icon_xue</string>
	<key>大到暴雪</key>
	<string>weather_icon_xue</string>
	<key>雾</key>
	<string>weather_icon_wu</string>
	<key>冻雨</key>
	<string>weather_icon_yujiaxue</string>
	<key>沙尘暴</key>
	<string>weather_icon_sha</string>
	<key>浮尘</key>
	<string>weather_icon_sha</string>
	<key>扬沙</key>
	<string>weather_icon_sha</string>
	<key>强沙尘暴</key>
	<string>weather_icon_sha</string>
	<key>霾</key>
	<string>weather_icon_mai</string>
	<key>无</key>
	<string>weather_icon_qing</string>
	<key>clear</key>
	<array>
		<string>weather_icon_qing</string>
		<string>weather_icon_yueliang</string>
	</array>
	<key>mostlyclear</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlyclearverylightfreezingrain</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlyclearverylightmix</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlyclearverylightrain</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlyclearverylightsleet</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlyclearverylightsnow</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlycloudy</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlycloudyverylightfreezingrain</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlycloudyverylightmix</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlycloudyverylightrain</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlycloudyverylightsleet</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>mostlycloudyverylightsnow</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>partlycloudyverylightfreezingrain</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>partlycloudy</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>partlycloudyverylightsnow</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>partlycloudyverylightsleet</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>partlycloudyverylightrain</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>partlycloudyverylightmix</key>
	<array>
		<string>weather_icon_duoyun</string>
		<string>weather_icon_duoyun_ye</string>
	</array>
	<key>cloudy</key>
	<string>weather_icon_yin</string>
	<key>cloudylightrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>cloudymediumfreezingrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>cloudymediummixlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlyclearheavyrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>cloudymediumrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlyclearheavyfreezingrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlyclearmediumfreezingrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlyclearmediumrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlycloudyheavyfreezingrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlycloudyheavyrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlycloudylightrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlycloudymediumfreezingrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>mostlycloudymediumrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>partlycloudyheavyrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>partlycloudyheavyfreezingrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>partlycloudymediumfreezingrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>partlycloudylightrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>partlycloudymediumrainlightning</key>
	<string>weather_icon_leizhenyu</string>
	<key>cloudyheavysleet</key>
	<string>weather_icon_bingbao</string>
	<key>cloudyheavysleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>cloudyverylightsleet</key>
	<string>weather_icon_bingbao</string>
	<key>mostlyclearheavysleet</key>
	<string>weather_icon_bingbao</string>
	<key>mostlyclearheavysleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>mostlyclearlightrainlightning</key>
	<string>weather_icon_bingbao</string>
	<key>mostlyclearlightsleet</key>
	<string>weather_icon_bingbao</string>
	<key>mostlyclearmediumsleet</key>
	<string>weather_icon_bingbao</string>
	<key>mostlyclearmediumsleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>mostlycloudyheavysleet</key>
	<string>weather_icon_bingbao</string>
	<key>mostlycloudyheavysleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>mostlycloudylightsleet</key>
	<string>weather_icon_bingbao</string>
	<key>partlycloudyheavysleet</key>
	<string>weather_icon_bingbao</string>
	<key>mostlycloudymediumsleet</key>
	<string>weather_icon_bingbao</string>
	<key>mostlycloudymediumsleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>partlycloudyheavysleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>partlycloudylightsleet</key>
	<string>weather_icon_bingbao</string>
	<key>partlycloudymediumsleet</key>
	<string>weather_icon_bingbao</string>
	<key>partlycloudymediumsleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>cloudylightsleet</key>
	<string>weather_icon_bingbao</string>
	<key>cloudymediumsleet</key>
	<string>weather_icon_bingbao</string>
	<key>cloudymediumsleetlightning</key>
	<string>weather_icon_bingbao</string>
	<key>cloudyheavymix</key>
	<string>weather_icon_yujiaxue</string>
	<key>cloudyheavymixlightning</key>
	<string>weather_icon_yujiaxue</string>
	<key>cloudylightmix</key>
	<string>weather_icon_yujiaxue</string>
	<key>cloudyverylightmix</key>
	<string>weather_icon_yujiaxue</string>
	<key>cloudymediummix</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlyclearheavymix</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlyclearheavymixlightning</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlyclearlightmix</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlyclearmediummix</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlyclearmediummixlightning</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlycloudyheavymix</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlycloudyheavymixlightning</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlycloudylightmix</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlycloudymediummix</key>
	<string>weather_icon_yujiaxue</string>
	<key>mostlycloudymediummixlightning</key>
	<string>weather_icon_yujiaxue</string>
	<key>partlycloudyheavymixlightning</key>
	<string>weather_icon_yujiaxue</string>
	<key>partlycloudyheavymix</key>
	<string>weather_icon_yujiaxue</string>
	<key>partlycloudymediummix</key>
	<string>weather_icon_yujiaxue</string>
	<key>partlycloudylightmix</key>
	<string>weather_icon_yujiaxue</string>
	<key>partlycloudymediummixlightning</key>
	<string>weather_icon_yujiaxue</string>
	<key>cloudylightfreezingrain</key>
	<string>weather_icon_xiaoyu</string>
	<key>cloudylightrain</key>
	<string>weather_icon_xiaoyu</string>
	<key>cloudyverylightrain</key>
	<string>weather_icon_xiaoyu</string>
	<key>mostlyclearlightrain</key>
	<string>weather_icon_xiaoyu</string>
	<key>mostlycloudylightrain</key>
	<string>weather_icon_xiaoyu</string>
	<key>partlycloudylightrain</key>
	<string>weather_icon_xiaoyu</string>
	<key>cloudymediumrain</key>
	<string>weather_icon_zhongyu</string>
	<key>partlycloudymediumrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlyclearmediumrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlycloudymediumrain</key>
	<string>weather_icon_zhongyu</string>
	<key>cloudyheavyrain</key>
	<string>weather_icon_baoyu</string>
	<key>cloudyheavyrainlightning</key>
	<string>weather_icon_baoyu</string>
	<key>mostlyclearheavyrain</key>
	<string>weather_icon_baoyu</string>
	<key>mostlycloudyheavyrain</key>
	<string>weather_icon_baoyu</string>
	<key>partlycloudyheavyrain</key>
	<string>weather_icon_baoyu</string>
	<key>cloudyheavysnowlightning</key>
	<string>weather_icon_xue</string>
	<key>cloudymediumsnow</key>
	<string>weather_icon_xue</string>
	<key>mostlyclearheavysnow</key>
	<string>weather_icon_xue</string>
	<key>cloudyheavysnow</key>
	<string>weather_icon_xue</string>
	<key>cloudymediumsnowlightning</key>
	<string>weather_icon_xue</string>
	<key>mostlyclearheavysnowlightning</key>
	<string>weather_icon_xue</string>
	<key>cloudylightsnow</key>
	<string>weather_icon_xue</string>
	<key>cloudyverylightsnow</key>
	<string>weather_icon_xue</string>
	<key>mostlyclearlightsnow</key>
	<string>weather_icon_xue</string>
	<key>mostlyclearmediumsnow</key>
	<string>weather_icon_xue</string>
	<key>mostlyclearmediumsnowlightning</key>
	<string>weather_icon_xue</string>
	<key>mostlycloudyheavysnow</key>
	<string>weather_icon_xue</string>
	<key>mostlycloudyheavysnowlightning</key>
	<string>weather_icon_xue</string>
	<key>mostlycloudylightsnow</key>
	<string>weather_icon_xue</string>
	<key>mostlycloudymediumsnow</key>
	<string>weather_icon_xue</string>
	<key>partlycloudymediumsnow</key>
	<string>weather_icon_xue</string>
	<key>mostlycloudymediumsnowlightning</key>
	<string>weather_icon_xue</string>
	<key>partlycloudylightsnow</key>
	<string>weather_icon_xue</string>
	<key>partlycloudyheavysnowlightning</key>
	<string>weather_icon_xue</string>
	<key>partlycloudyheavysnow</key>
	<string>weather_icon_xue</string>
	<key>partlycloudymediumsnowlightning</key>
	<string>weather_icon_xue</string>
	<key>cloudyheavyfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>cloudyheavyfreezingrainlightning</key>
	<string>weather_icon_zhongyu</string>
	<key>cloudymediumfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>cloudyverylightfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlyclearheavyfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlyclearlightfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlyclearmediumfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlycloudyheavyfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlycloudylightfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>mostlycloudymediumfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>partlycloudyheavyfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>partlycloudylightfreezingrain</key>
	<string>weather_icon_zhongyu</string>
	<key>partlycloudymediumfreezingrain</key>
	<string>weather_icon_zhongyu</string>
</dict>
</plist>
